/* shop */
._form_input_address {
	width: 50rem!important;
	height: auto;
}
._form_input_title {
	width: 25rem!important;
	height: auto;
}
._form_textarea_discrib {
	width: 50rem!important;
	height: 10rem!important;
}